@{
    ViewData["Title"] = "Home Page";
}

   
    <div class="row">
        <div class="col-sm-3">
            <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2018/01/shutterstock_587562362.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>

        <div class="col-sm-6 text-align: text-center" >
   
            <h1 class="text-center">Animal Wildlife Centre</h1>
            <p>Your future pet awaits!</p>
            <form asp-controller="Animal" asp-action="Index" method="get">
                <p> <input type="submit" class="btn btn-primary btn-lg" value="Adopt!" /></p>
            </form>
        </div>

        <div class="col-sm-3">
            <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2012/11/100901720-cat-adoption-first-30-days-632x475.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>


    </div>

    <div class="row">

        <img src="https://mattiesplace.ca/assets/img/mattie/adoption-banner.jpg" class="img-fluid" alt="Responsive image">

    </div>
